.profile-edit{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.member{
    background-color: rgb(110, 5, 102);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}